:root {
  --letraPrimaria: "Quattrocento", serif;
  --letraTextos: "Hind", sans-serif;
  --colorPrimario: #4665ba;
  /* --colorPrimario: #213363; */
  --colorSecundario: #17594a;
  --colorTerciario: #8eac50;
  --colorCuartario: #d3d04f;
}

.title {
  font-size: 2rem;
  color: var(--colorTerciario);
  font-family: var(--letraPrimaria);
  font-weight: 700;
}

.links__redes {
  width: 3.2rem;
  height: 3.2rem;
  object-fit: cover;
  object-position: center center;
  /* background-color: azure; */
  border-radius: 100%;
}

.link__img {
  border-radius: 100%;
}

.links__redes:hover {
  box-shadow: 0 0 5px 2px #8eac50;
}

.header {
  width: 100%;
  height: 100vh;
  background-color: var(--colorPrimario);
}

.header__nav {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  /* background-color: aqua; */
}

.header__ul--nav {
  width: 100%;
  min-height: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;

  /* background-color: antiquewhite; */
}
.header__li {
  margin-left: 2rem;
}

.header__a {
  color: var(--colorCuartario);
  font-size: 1.3rem;
  padding: 0.4rem 1rem;
  transition: all 0.2s ease;
  border-radius: 7px;
  /* background-color: aquamarine; */
}

.header__a:hover {
  color: #f2f2f2;

  /* border: 1px solid #d3d04f; */
}

.box__inline:hover {
  background-color: #d3d04f;
  color: #213363;
}

.hero {
  width: 100%;
  height: calc(100vh - 80px);
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__grid {
  width: 100%;
  display: grid;
  grid-template-columns: 0.8fr 0.5fr;
  grid-template-rows: 250px auto;
  padding: 4rem;
}

.hero__textos {
  grid-row: span 2;
  /* margin-left: 200px; */
  display: flex;
  flex-flow: column;
  /* background-color: azure; */
  align-items: start;
  justify-content: center;
  text-overflow: clip;
}

.container__img {
  grid-row: span 2;
  /* background-color: aliceblue; */
  display: flex;
  align-items: start;
  justify-content: center;
}

.hero__links--flex {
  display: flex;

  justify-content: left;
  gap: 3rem;
}

.hero__title {
  font-size: 6rem;
  font-family: var(--letraPrimaria);
  font-weight: 700;
  color: var(--colorCuartario);
  display: inline-block;
  /* background-color: #17594a; */
  border-radius: 1rem;
}

.hero__paragraph {
  font-size: 3rem;
  color: var(--colorTerciario);
  font-weight: 400;
}

/* about */

.about {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 80px;
  /* background-color: aqua; */
}

.about__grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2rem;
}

.about__card:nth-child(1) {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px var(--colorPrimario);
  padding: 1.1rem;
}

.about__card:nth-child(2) {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px var(--colorPrimario);
  padding: 1.1rem;
}

.about__text--skilss {
  width: 100%;
}

.about__card--text {
  /* background-color: beige; */
  width: 70%;
}

.about__img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  margin-right: 1rem;
}

.about__title {
  font-size: 2rem;
  color: var(--colorTerciario);
  font-family: var(--letraPrimaria);
  font-weight: 700;
}

.about__paragraph {
  font-size: 1rem;
  font-family: var(--letraTextos);
  color: var(--colorPrimario);
  margin-top: 1.1rem;
  text-align: justify;
}

.about__skills {
  width: 100%;
  /* background-color: #213363; */
  margin: 0;
  padding: 0;
}

.about__li--skills {
  width: 100%;
  font-size: 1rem;
  font-family: var(--letraTextos);
  /* background-color: aquamarine; */
}

.skills__check {
  font-size: 1.3rem;
  color: var(--colorCuartario);
}

/* projects */

.projects {
  max-width: 1200px;

  margin: 0 auto;
  padding-top: 80px;
}

.projects__title {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--colorPrimario);
}

.projects__grid {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  /* background-color: aquamarine; */
  padding-bottom: 40px;
}

.container__card {
  overflow: hidden;
  width: 100%;
  min-height: 220px;
  position: relative;
  border-radius: 10px;
  /* background-color: aqua; */
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px 2px #213363;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.programas {
  position: absolute;
  z-index: 1;
  background-color: rgba(141, 172, 80, 0.7);
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
}

.programa__usado {
  margin: 0;

  padding: 0.1rem 0.5rem;
  color: #f2f2f2;
  font-size: 0.8rem;

  display: inline-block;

  background-color: #4665ba;
  border-radius: 7px;
}

.check__blue {
  color: var(--colorCuartario);
  font-size: 0.9rem;
}

.card__img {
  width: 100%;
  height: 100%;
  position: absolute;

  /* background-color: red; */
}

.project__link {
  width: 100%;
  height: 100%;
}

.container__card:hover .card__hover {
  top: 0px;
  left: 0;
}

.container__card:hover {
  box-shadow: 0 0 10px 1px --colorPrimario;
}

.container__card:hover .project__img {
  transform: scale(1.2);
}
.project__img {
  min-height: 100%;
  transition: all 0.3s ease-in-out;
  /* background-color: #d3d04f; */
}

.card__hover {
  width: 100%;
  height: 30%;
  background-color: rgba(141, 172, 80, 0.7);
  position: absolute;
  left: 100%;
  top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-out;
  z-index: 2;
}

.hover__title {
  color: var(--colorPrimario);
  font-size: 2.2rem;
  font-family: var(--letraTextos);
  font-weight: 500;
}

.footer__portfolio {
  width: 100%;
  text-align: center;
  padding-top: 60px;
  overflow: hidden;
  background-color: var(--colorPrimario);
}

.footer__container {
  width: 50%;
  min-height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  /* background-color: #d3d04f; */
  padding-bottom: 2rem;
}

.footer__email {
  color: var(--colorTerciario);
  font-size: 1.5rem;
}

.enunciado__email {
  color: var(--colorCuartario);
  font-size: 1.5rem;
}

.footer__redes {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  /* background-color: aqua; */
}

.footer__portfolio > .title {
  font-size: 2.5rem;
}

.red__link {
  transition: all 0.2s ease;
  border-radius: 100%;
}

.red__link:hover {
  box-shadow: 0 0 5px 2px #8eac50;
}

.footer__red {
  width: 50px;
  height: 50px;
}
@media (max-width: 1024px) {
  .hero__title {
    font-size: 3rem;
  }
  .hero__paragraph {
    font-size: 2rem;
  }

  .about__img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 912px) {
  .hero__grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4rem;
  }

  .hero__textos {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  .hero__title {
    font-size: 4rem;
  }

  .hero__paragraph {
    font-size: 2rem;
  }

  .hero__img--link {
    width: 3rem;
    height: 3rem;
  }

  .img__hero {
    width: 300px;
  }

  .about__grid {
    grid-template-columns: 1fr;
  }

  .projects__grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 414px) {
  .header {
    height: 50vh;
  }

  .header__nav {
    width: 100%;
  }

  .header__ul--nav {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 1.5rem;
  }

  .header__li {
    margin: 0;
  }

  .header__a {
    font-size: 1rem;
    padding: 0;
  }

  .hero {
    height: calc(50vh - 80px);
  }
  .hero__grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .container__img {
    display: none;
  }
  .hero__textos {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
  }

  .hero__title {
    font-size: 1.5rem;
  }

  .hero__paragraph {
    font-size: 1rem;
  }

  .hero__img--link {
    width: 30px;
    height: 30px;
  }

  .about__grid {
    grid-template-columns: 1fr;
  }

  .about__card:nth-child(1) {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    text-align: center;
    padding: 1rem;
  }

  .about__card--text {
    width: 100%;
  }

  .about__img {
    width: 150px;
    height: 150px;
    margin-bottom: 1rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .projects__grid {
    grid-template-columns: 1fr;
  }

  .footer__container {
    width: 100%;
  }

  .footer__portfolio .title {
    font-size: 2rem;
  }

  .footer__email {
    font-size: 1rem;
  }
  .enunciado__email {
    font-size: 1rem;
  }

  .footer__red {
    width: 40px;
    height: 40px;
  }
}
